$back-color: skyblue;
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

.wrapper {
  margin: 0;
  height: 100vh;
   font-family: 'Noto Serif JP', serif;
}

// ###############hedda---""""""""""
.header {
  background-color: $back-color;
  display: flex;
  height: 60px;
  align-items: center;
  position: relative;
  .LINK{
    width: 530px;
    margin: 0 auto;
    text-decoration: none;
    color: black;
  }
  
  &__title{
    font-size: 1.5em;
    width: 530px;
 
    font-weight: bold;  
    margin: 0 auto;
    font-family: 'Noto Serif JP', serif;
  }
  &__nab{
    position: absolute;
    right: 20px;
   .sign_up{
    border-radius: 100px;
  }
  .log_in{
    border-radius: 100px;
    margin-left: 10px;
   }
  }

}
.main{
  height: 100vh;
  display: flex;
  background-color: $back-color;
}
.said{
  
  height: 100%;
  width: 300px;

  overflow: scroll;
  text-align: center;
  background-color:$back-color;
  &__title{
    width: 200px;
    color: white;
  }
  &__box{
    display: flex;
    height: 60px;
    border: 1px solid black;
    margin-bottom: 2px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 1s;
    margin: 10px;
    &:hover {
      transform: scale(1,1.3);

    }
    .said-image{
      height: 100%;
      width: 25%;
      border-radius: 15px;
    }
    .said-content{
      font-size: 15px;
      padding: 5px;
    }

  }
}

.content{
  width: 800px;
  border: 1px solid black;
  border-radius: 15px;
  height: 100%;
  overflow: scroll;
  background-color: white;
  .kizi-link{
    text-decoration: none;
    color: black;
  }
  .contents{
    height: 150px;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    &__image{
      height: 150px;
      width: 150px;
      border-radius: 15px;  
    }
    &__body{
  
      .title{
        margin-left: 10px;
      }
      .body{
        margin-left: 5px;
        word-wrap: break-word;
        overflow: hidden;
        font-size: small;
      }
      
    }
  }
  
}

.right{
 
  height: 100%;
  width: 300px;
  border-radius: 15px;
  overflow: scroll;
  &__box{
    display: flex;
    height: 60px;
    border: 1px solid black;
    margin-bottom: 2px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 1s;
    margin: 10px;
    overflow: hidden;
    &:hover {
      transform: scale(1,1.3);

    }
    .right-image{
      height: 100%;
      width: 25%;
      border-radius: 15px;
    }
    .right-content{
      font-size: 15px;
      padding: 5px;
    }

  }
}






.tako{
  height: 150px;
  width: 150px;
  border-radius: 15px;
}
.footer{
  height: 50px;
  background-color: $back-color;
&__api{
  width: 300px;
  line-height: 50px;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  color: black;
}
}