.wra {
  margin: 0;
  background-color: rgb(233, 232, 232);
  
}
.ma__content{
  width: 900px;
  margin: 0 auto;
  border: 0.5px double black ;
  display: flex;
  background-color: white;
}
.ma{
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 0.5px solid black;

  &__title{
  font-weight: bold;
  padding: 10px;
  }
  &__image{
    width: 90%;
    height: 200px;
    border-radius: 10px;
    margin: 0 auto;
  }
  &__body{
    padding: 10px;
    line-height: 30px;
    overflow: scroll;
    
  }

  
}
    .memo{
      width: 400px;
      &__title{
        padding-left: 10px;
      }
      .tarako{
        padding: 10px;
      }
      &__area{
        
        width: 100%;
        word-wrap: break-word;
        
      }
}
.koko{
  display: flex;
  width:900px;
  margin: 0 auto;

}
.form{
  display: block;
  margin-top: 15px;
    .form__memo{
      width: 700px;
      height: 200px;
      resize: none;
      font-size: 1.3em;
    }
  }

.api{
  display: block;
  margin: 50px auto;
}

.enter {
  width: 100px;
  height: 205px;
  margin-top: 15px;
}
.delete {
  height: 205px;
  margin-top: 15px;
  width: 100px;
}

