.wra {
  margin: 0 auto;
  width: 800px;

  border: 2px double #87ceeb ;
  display: flex;
}

.ma{
  width: 50%;
  display: flex;
  flex-direction: column;
  
  &__title{
  font-weight: bold;
  }
  &__image{
    width: 100%;
    height: 300px;
    border-radius: 10px;
  }
  &__content{
    padding: 10px;
    line-height: 30px;
  }
}



